@charset "UTF-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

/* all */
	::-webkit-scrollbar-track{background:#eee;}
	::-webkit-scrollbar{width:5px; height:5px; background:#f2f2f2;}
	::-webkit-scrollbar-thumb{background:#fdd000;}
	::-moz-selection{background:#fdd000; color:#1c1c1b;}
	::selection{background:#fdd000; color:#1c1c1b;}
	.progress{position:fixed; top:0; left:0; border-radius:100px; height:3px; background:#fdd000; width:0%; z-index:999999;}
	html, body{letter-spacing:normal; word-break:keep-all; width:100%; text-align:left; font-size:16px; color:#1c1c1b; line-height:1.4; margin:0; padding:0; font-family:'Noto Sans KR','Noto Sans','sans-serif','MalgunGothic','Malgun Gothic','留묒�怨좊뵓','留묒� 怨좊뵓','�섎닎怨좊뵓','NanumGothic','Helvetica','Tahoma','Arial','Dotum','�뗭쓬','DotumChe','�뗭쓬泥�';}
	body{transition:ease-in-out 400ms padding; font-smoothing:antialiased; -webkit-font-smoothing:antialiased; -moz-font-smoothing:unset; -moz-osx-font-smoothing:grayscale; font-smoothing:antialiased; -webkit-backface-visibility:hidden; -moz-backface-visibility:hidden; backface-visibility:hidden;}
	h1,h2{padding:0; margin:0; display:inline-block; font-weight:normal;}
	a, a:link, a:focus, textarea, button, input, select{outline:none; resize:none; border:0px; text-decoration:none;  -webkit-appearance:none; -webkit-border-radius:0;}
	a, a:link, a:focus{text-decoration:none; color:inherit; cursor:pointer;}
	textarea, button, input, select{font-family:'Noto Sans KR','Noto Sans','sans-serif','MalgunGothic','Malgun Gothic','留묒�怨좊뵓','留묒� 怨좊뵓','�섎닎怨좊뵓','NanumGothic','Helvetica','Tahoma','Arial','Dotum','�뗭쓬','DotumChe','�뗭쓬泥�';}
	button, input[type="button"], input[type="submit"]{cursor:pointer;}
	*{box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
	img{border:0; max-width:100%; vertical-align:middle; image-rendering:-webkit-optimize-contrast;}
	table, td, th{border-spacing:0px; padding:0px; text-align:inherit;}
	ul, li{list-style:none; padding:0px; margin:0px;}
	p{margin:30px 0;}
	p:first-child{margin-top:0;}
	p:last-child{margin-bottom:0;}
	b{font-weight:700;}
	.float_right{float:right;}
	.underline{text-decoration:underline;}
	.fa, .fas, .icons{vertical-align:baseline;}
	.material-icons{vertical-align:bottom; font-size:1.3em;}
	.wrap{width:100%;}
	.none{display:none !important;}
	.block{display:block;}
	.hidden{overflow:hidden;}
	.pc{display:block !important; margin:0 auto;}
	.m{display:none !important; margin:0 auto;}
	.w1280{width:1280px; margin:0 auto;}
	.color{color:#fdd000 !important;}
	.color_w{color:#fff;}
	.bg_color{background:#fdd000; color:#1c1c1b; padding:0.5% 1%;}
	.red{color:#ff0000 !important;}
	.left0{left:0 !important;}
	.right0{right:0 !important;}
	.text_center{text-align:center;}
	.text_left{text-align:left !important;}
	.text_right{text-align:right;}
	.table0{display:table; width:100%; height:100%; border-spacing:0;}
	.table10{display:table; width:100%; border-spacing:10px;}
	.cell{display:table-cell; vertical-align:middle;}
	.cell10{display:table-cell; width:10%; vertical-align:middle;}
	.cell20{display:table-cell; width:20%; vertical-align:middle;}
	.cell25{display:table-cell; width:25%; vertical-align:middle;}
	.cell30{display:table-cell; width:30%; vertical-align:middle;}
	.cell33{display:table-cell; width:33%; vertical-align:middle;}
	.cell40{display:table-cell; width:40%; vertical-align:middle;}
	.cell50{display:table-cell; width:50%; vertical-align:middle;}
	.cell60{display:table-cell; width:60%; vertical-align:middle;}
	.cell66{display:table-cell; width:66%; vertical-align:middle;}
	.cell70{display:table-cell; width:70%; vertical-align:middle;}
	.cell75{display:table-cell; width:75%; vertical-align:middle;}
	.cell80{display:table-cell; width:80%; vertical-align:middle;}
	.cell90{display:table-cell; width:90%; vertical-align:middle;}
	.inline{display:inline-block; vertical-align:middle;}
	.inline20{display:inline-block; vertical-align:top; width:20%; padding-right:5px; float:left;}
	.inline25{display:inline-block; vertical-align:top; width:25%; padding-right:5px; float:left;}
	.inline33{display:inline-block; vertical-align:top; width:33.33%; padding:0 15px; float:left;}
		.inline33:first-child{padding-left:0; padding-right:30px;}
		.inline33:last-child{padding-right:0; padding-left:30px;}
	.inline50{display:inline-block; vertical-align:top; width:50%; padding-right:15px; float:left;}
		.inline50:last-child{display:inline-block; width:50%; padding-left:15px; padding-right:0px; float:left;}
	.inline66{display:inline-block; vertical-align:top; width:66.66%; padding-right:15px; float:left;}
	.inline80{display:inline-block; vertical-align:top; width:80%; padding-right:5px; float:left;}
	.overlay{position:fixed; top:0; left:0; height:100%; width:100%; background:#1c1c1b; opacity:0.7; z-index:9;}
	.close_wrap{cursor:pointer; position:absolute; right:0; top:50%; -webkit-transform:translate(0,-50%); -ms-transform:translate(0,-50%); transform:translate(0,-50%); width:25px; height:25px; z-index:5;}
	.close_wrap .close:before, .close_wrap .close:after{position:absolute; left:15px; content:''; height:25px; width:2px; background:#fff;}
		.close_wrap .close{opacity:1;}
		.close_wrap .close:before{transform:rotate(45deg);}
		.close_wrap .close:after{transform:rotate(-45deg);}
	.plus_wrap{position:absolute; right:5px; top:50%; width:30px; height:30px; margin:0 auto; -webkit-transform:translate(0,-50%); -ms-transform:translate(0,-50%); transform:translate(0,-50%);}
		.plus_wrap .plus:before, .plus_wrap .plus:after{content:""; position:absolute; background:rgba(0,0,0,0.7);}
			.plus_wrap .plus:before{left:50%; top:5px; bottom:5px; width:1px; transform:translateX(-50%);}
			.plus_wrap .plus:after{top:50%; left:5px; right:5px; height:1px; transform:translateY(-50%);}
	.bottom_banner{position:fixed; right:10px; bottom:10px; width:100%; max-width:65px; z-index:9;}
		.bottom_banner img{width:100%;}

	.robo{font-family:'Roboto', NanumSquareR; font-weight:900 !important; line-height:1 !important; letter-spacing:-1px !important;}
		.robo h1, .robo h2{font-weight:900 !important;}

	input:-webkit-autofill,
	input:-webkit-autofill:hover, 
	input:-webkit-autofill:focus,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus {
		-webkit-box-shadow:0 0 0px 1000px none inset;
		transition:background-color 5000s ease-in-out 0s;
	}

/* head */
	.header{position:fixed; top: 0;}
	.head_wrap{background:#fff; position:fixed; top:0; width:100%; margin:auto 0; z-index:9999; vertical-align:middle; box-shadow:0px 0px 5px 0px rgba(0,0,0,0.1); padding:0px 50px;text-align:center; transition: All 0.2s ease; -webkit-transition: All 0.2s ease; -moz-transition: All 0.2s ease; -o-transition: All 0.2s ease;}
	.main_body .head_wrap{background:none; box-shadow:none;}
	.head_over{background:#fff !important; box-shadow:0px 0px 5px 0px rgba(0,0,0,0.1) !important;}
	.head_fixed{background:#fff !important; box-shadow:0px 0px 5px 0px rgba(0,0,0,0.1) !important;}

.head_wrap .head{width:100%; max-width:1280px; margin:0 auto; position:relative; transition: All 0.2s ease; -webkit-transition: All 0.2s ease; -moz-transition: All 0.2s ease; -o-transition: All 0.2s ease;}
	.head_wrap .head .head_logo{max-width:280px; position:absolute; top:27px; text-align: center; left: -4%;}
		.main_body .head_wrap .head .head_logo .head_logo_img{display:inline-block;}
		.main_body .head_wrap .head .head_logo .head_logo_img_fixed{display:none;}
		
	.head_wrap .head .head_menu{width:100%; padding:0px 300px;}
				.head_wrap .head .head_menu > ul{display:table; width:100%;}
					.head_wrap .head .head_menu > ul > li{display:table-cell; width:16.66%; vertical-align:top;}
						.head_wrap .head .head_menu > ul > li > a{display:block; padding:40px 0; position:relative; font-weight:500; font-size:1.1em;}
						.head_wrap .head .head_menu > ul > li > a:after{content:""; position:absolute; left:0; bottom:0; width:0; height:1px; background:#1c1c1b; left:50%; -webkit-transform:translate(-50%,0); -ms-transform:translate(-50%,0); transform:translate(-50%,0); transition:All 0.2s ease; -webkit-transition:All 0.2s ease; -moz-transition:All 0.2s ease; -o-transition:All 0.2s ease;}
							.head_wrap .head .head_menu > ul > li:hover a:after{width:50%;}
							.head_wrap .head .head_menu > ul > .check{background:#FFEFD8;}
							.head_wrap .head .head_menu > ul > .check a:after{width:50%;}
	
	.head_menu_down_menu{display:block; font-size:0.9em; font-weight:500;}
		.head_menu_down_menu ul li a{display:block; margin-top: -10px; display:block; font-weight:500;}
			.head_menu_down_menu ul li a:hover{text-decoration:underline;}
		.head_menu_down_menu{padding:20px;}
		.head_menu_down_menu.check{background:#FFEFD8;}

			.head_wrap .head .head_top_nav{position:absolute; top:15px; right:20px;}
			.head_wrap .head .head_top_nav ul{list-style: none;}
                .head_wrap .head .head_top_nav ul li{float: left; color: var( --color-font-light-black); font-size: 13px; text-align: center; height: 20px; border:var( --temp-border); padding-left: 20px;}
				.head_wrap .head .head_top_nav ul li a{display:block; padding:3px; position:relative;}
				.head_wrap .head .head_top_nav ul li:hover{text-decoration: underline;}
				

			.head_wrap .head .head_top_icon{position:absolute; top:15px; right:-23px;}
			.head_wrap .head .head_top_icon ul li{float:left; width:25px; height:25px; margin-left: 10px;} 
				.head_wrap .head .head_top_icon ul li:hover{text-decoration: underline;}
				.head_wrap .head .head_top_icon ul li a{display:flex; padding:3px; position:relative;}
			
			
			.head_menu_down_menu{display:none; font-size:0.9em; font-weight:400;}
				.head_menu_down_menu ul li a{display:block;}
					.head_menu_down_menu ul li a:hover{text-decoration:underline;}
				.head_menu_down_menu{padding:25px;}
				.head_menu_down_menu.check{background:#fdd000;}

/* sub */
	.cont_head:before{content:""; position:absolute; width:100%; height:100%; left:0; top:0; opacity:0.1;}
	
	.brand_wrap .cont_head:before{background:url("https://img.79plus.co.kr/megahp/common/img/sub_head_brand.jpg"); background-size:cover; background-position:center center;}
	.bi_wrap .cont_head:before{background:url("https://img.79plus.co.kr/megahp/common/img/sub_head_bi.jpg"); background-size:cover; background-position:center center;}
	.map_wrap .cont_head:before{background:url("https://img.79plus.co.kr/megahp/common/img/sub_head_map.jpg"); background-size:cover; background-position:center center;}
	
	
	.brand_wrap .brand01 .cont_list3 > ul > li{border:1px solid rgba(0,0,0,0.1);}

	.bi_wrap .bi01 .bi01_color ul li{padding-left:30px; position:relative;}
		.bi_wrap .bi01 .bi01_color ul li:before{position:absolute; left:0; top:50%; -webkit-transform:translate(0,-50%); -ms-transform:translate(0,-50%); transform:translate(0,-50%); content:""; background:#fdd000; width:22px; height:22px;}
		.bi_wrap .bi01 .bi01_color ul li:nth-child(2):before{background:#1c1c1b;}



		.bi_wrap .bi01_img{padding:5px 15px; border-radius:15px;}
			.bi_wrap .bi01_img2{background:#000;}
			.bi_wrap .bi01_img3{background:#fdd000;}
			.bi_wrap .bi01_img4{background:#f4f6f8;}

	.map_wrap .map01 #map{width:100%; height:460px;}

	.find_wrap .find01{padding:0;}
		.find_wrap .find01 #map{width:100%; height:640px;}


	.menu_wrap .menu01 #menu_list .cont_text_info .text.text1{text-transform:capitalize;}
	.menu_wrap .menu01 .cont_text_title{border-bottom:1px solid rgba(0,0,0,0.1); padding-bottom:20px;}
	.menu_wrap .menu01 .list_checkbox_wrap{padding:30px; border:1px solid rgba(0,0,0,0.1); text-align:left;}
	.menu_wrap .menu01 .inner_modal_title .cont_text_info{text-transform:capitalize;}
	.menu_wrap .cont_gallery_list > ul > li .cont_gallery_list_box{border:0;}

	.faq_wrap .cont_tab ul li{width:16.66%;}

	.voc_wrap .voc01 .cont_list3 ul li{border:1px solid rgba(0,0,0,0.1);}
		.voc_wrap .voc01 .cont_list3 ul li .cont_text_box{padding:30px 15px;}
		.voc_wrap .voc01 .cont_list3 ul li .cont_text_title{border-bottom:1px solid rgba(0,0,0,0.1); padding-bottom:20px;}


	.db_wrap .db01 .db{border:1px solid rgba(0,0,0,0.1); max-width:860px; margin:0 auto; padding:7%;}
		.db_wrap .db01 .db .table_info table th, .db_wrap .db01 .db .table_info table td{padding-bottom:20px;}


	.interior_wrap .interior01{background:#f4f6f8;}
		.interior_wrap .interior01 > .cont_boxs > .cont_list2 > ul > li{position:relative;}
			.interior_wrap .interior01 > .cont_boxs > .cont_list2 > ul > li:first-child .cont_text_box{position:absolute; left:0; top:10%; padding:10%; color:#fff; background:rgba(0,0,0,0.6);}
			.interior_wrap .interior01 > .cont_boxs > .cont_list2 > ul > li:last-child .cont_title_wrap{text-align:center; font-size:1.2em;}
			
	.interior_wrap .interior02 .cont_boxs{position:relative; padding-bottom:50px; margin-bottom:25px;}
		.interior_wrap .interior02 .cont_boxs:first-child{border-bottom:10px solid #f9be00;}
		.interior_wrap .interior02 .cont_boxs:first-child > .cont_list3 > ul > li:last-child{}
		.interior_wrap .interior02 .cont_boxs:first-child > .cont_list3 > ul > li:last-child img{position:absolute; right:0; bottom:0; max-width:420px;}
		.interior_wrap .interior02 .cont_boxs:first-child > .cont_list3 > ul > li:nth-child(2){z-index:1;}
		.interior_wrap .interior02 .cont_boxs:first-child > .cont_list3 > ul > li:nth-child(2) img{width:100%; max-width:100px;}
		.interior_wrap .interior02 .cont_boxs:last-child{margin-bottom:0; padding-bottom:0;}
		.interior_wrap .interior02 .cont_boxs:last-child .cont_title_wrap{text-align:center; font-size:1.2em;}


	.recruit_job01 .recruit_job01_logo img{max-width:140px;}
	.recruit_job02 img{max-width:80px; background:#f4f6f8; border-radius:100%; padding:10px;}
	.recruit_job02 .cont_gallery_list > ul > li .cont_gallery_list_box .cont_text_box .cont_gallery_list > ul > li .cont_gallery_list_box{border:0; background:#f4f6f8;}
	.recruit_job02 .cont_gallery_list > ul > li .cont_gallery_list_box .cont_text_box .cont_gallery_list > ul > li:last-child .cont_gallery_list_box{border:0; background:#fdd000; color:#212121;}
				

/* cont */
	.cont_wrap{padding-top:80px;}
	.main_body .cont_wrap{padding-top:0 !important;}
		.main_body .cont_box{overflow:hidden;}

	.cont_box{padding:100px 0px; width:100%; margin:0 auto; position:relative;}
		/*.cont_box:nth-child(2n-1){background:#fdd000;}*/
		.cont_boxs{width:100%; max-width:1280px; margin:0 auto; margin-bottom:100px;}
			.cont_boxs:last-child{margin-bottom:0;}


		.cont_head{text-align:center; background:#444 !important; color:#fff !important; z-index:1;}
			.cont_head .cont_title_wrap{margin-bottom:20px; text-transform:uppercase;}
				.cont_head .cont_title_wrap .cont_title{margin-bottom:10px;}

		.cont_banner{background:#FFCD6D; position:relative; overflow:inherit !important; z-index:2; padding:50px 0;}
			.cont_banner:before{position:absolute; z-index:1; content:""; background:#FFCD6D; width:50px; height:50px; bottom:-25px; left:50%; -webkit-transform:translate(-50%,0) rotate(-45deg); -ms-transform:translate(-50%,0) rotate(-45deg); transform:translate(-50%,0) rotate(-45deg);}
				.cont_banner .cont_title{font-size:1.4em;}

		.cont_title_wrap{font-size:24px; margin-bottom:40px; position:relative;}
			.cont_title_wrap:last-child{margin-bottom:0;}
				.cont_title{font-size:1.8em; line-height:1.2; letter-spacing:-3px;}
					.cont_title h1{font-size:2.8em; text-transform:uppercase;}
					.cont_title h2{font-size:1.4em;}
					.cont_title h3{font-size:1.2em;}

				.cont_title_info{margin:15px 0;}
					.cont_title_info:first-child{margin-top:0; font-weight:300;}
					.cont_title_info:last-child{margin-bottom:0;}

			.cont_title_bg{position:relative;}
				.cont_title_bg:before{transition: All 0.4s ease; -webkit-transition: All 0.4s ease; -moz-transition: All 0.4s ease; -o-transition: All 0.4s ease; content:""; position:absolute; background:#fdd000; padding:0px; width:0; height:50%; z-index:-1; top:75%; left:50%; -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); transform:translate(-50%,-50%);}
				.cont_title_bg2:before{background:#fff;}
				.cont_title_bg_active:before{padding:0px 20px; width:100%;}

		.cont_text_wrap{margin:40px 0;}
			.cont_text_wrap:first-child{margin-top:0;}
			.cont_text_wrap:last-child{margin-bottom:0;}
				.cont_text_box{margin-bottom:20px;}
					.cont_text_box:last-child{margin-bottom:0;}
					.cont_text_title{font-size:1.4em; line-height:1.2;}
						.cont_text_title b{font-weight:400;}
					.cont_text{margin:20px 0;}
						.cont_text:first-child{margin-top:0;}
						.cont_text:last-child{margin-bottom:0;}
					.cont_text_inner{margin:5px 0;}
						.cont_text_inner:first-child{margin-top:0 !important;}
						.cont_text_inner:last-child{margin-bottom:0 !important;}
					.cont_text_info{font-size:0.9em; opacity:0.7;}
					.cont_text_info2{opacity:1;font-weight:400;color:#424242;}
					.cont_text_label{background:#000; color:#fff; font-size:0.6em; padding:2px 8px; border-radius:5px; vertical-align:middle;}


		.cont_list > ul{display:flex; width:100%; flex-wrap:wrap;}
			.cont_list_width > ul{display:table; width:auto; margin:0 auto; text-align:center;}
				.cont_list_width > ul > li{float:none !important;}
			.cont_list_align > ul{margin:0;}
			.cont_list_content_align > ul{align-items:center;}
				.cont_list_content > ul > li{margin-right:50px !important; margin-top:0 !important; width:calc(1 / 2 * 100% - (1 - 1 / 2) * 50px) !important;}
					.cont_list_content > ul > li:nth-child(2n){margin-right:0 !important;}
			.cont_list_content_search > ul > li:last-child .input_btn_wrap{float:right;}

			.cont_list > ul > li{display:inline-block; vertical-align:middle; margin-right:20px;}
				.cont_list1 > ul > li{width:100%; margin-right:0;}
					.cont_list1 > ul > li:first-child{margin-top:0;}
				.cont_list2 > ul > li{width:calc(1 / 2 * 100% - (1 - 1 / 2) * 20px);}
					.cont_list2 > ul > li:nth-child(-n+2) {margin-top:0;}
					.cont_list2 > ul > li:nth-child(2n){margin-right:0;}
				.cont_list3 > ul > li{width:calc(1 / 3 * 100% - (1 - 1 / 3) * 20px);}
					.cont_list3 > ul > li:nth-child(-n+3) {margin-top:0;}
					.cont_list3 > ul > li:nth-child(3n){margin-right:0;}
				.cont_list4 > ul > li{width:calc(1 / 4 * 100% - (1 - 1 / 4) * 20px);}
					.cont_list4 > ul > li:nth-child(-n+4) {margin-top:0;}
					.cont_list4 > ul > li:nth-child(4n){margin-right:0;}
				.cont_list5 > ul > li{width:calc(1 / 5 * 100% - (1 - 1 / 5) * 20px);}
					.cont_list5 > ul > li:nth-child(-n+5) {margin-top:0;}
					.cont_list5 > ul > li:nth-child(5n){margin-right:0;}
				.cont_list6 > ul > li{width:calc(1 / 6 * 100% - (1 - 1 / 6) * 20px);}
					.cont_list6 > ul > li:nth-child(-n+6) {margin-top:0;}
					.cont_list6 > ul > li:nth-child(6n){margin-right:0;}

				
			.cont_list_small > ul > li{display:inline-block; float:left; margin-right:10px; margin-top:10px;}
			
				.cont_list_small1 > ul > li{width:100%; margin-right:0;}
					.cont_list_small1 > ul > li:first-child{margin-top:0;}
					
				.cont_list_small2 > ul > li {width:calc(1 / 2 * 100% - (1 - 1 / 2) * 10px);}
					.cont_list_small2 > ul > li:nth-child(-n+2) {margin-top:0;}
					.cont_list_small2 > ul > li:nth-child(2n){margin-right:0;}
					
				.cont_list_small3 > ul > li{width:calc(1 / 3 * 100% - (1 - 1 / 3) * 10px);}
					.cont_list_small3 > ul > li:nth-child(-n+3) {margin-top:0;}
					.cont_list_small3 > ul > li:nth-child(3n){margin-right:0;}
					
				.cont_list_small4 > ul > li{width:calc(1 / 4 * 100% - (1 - 1 / 4) * 10px);}
					.cont_list_small4 > ul > li:nth-child(-n+4) {margin-top:0;}
					.cont_list_small4 > ul > li:nth-child(4n){margin-right:0;}
					
				.cont_list_small5 > ul > li{width:calc(1 / 5 * 100% - (1 - 1 / 5) * 10px);}
					.cont_list_small5 > ul > li:nth-child(-n+5) {margin-top:0;}
					.cont_list_small5 > ul > li:nth-child(5n){margin-right:0;}


		.cont_gallery_list > ul > li{position:relative; border-radius:10px; border:1px solid rgba(0,0,0,0.1);}
			.cont_gallery_list > ul > li .cont_gallery_list_box{height:100%; overflow:hidden; border-radius:10px; border:1px solid rgba(0,0,0,0.1); margin:0; background:#fff;}
			.cont_gallery_list2 > ul > li .cont_gallery_list_box{border-radius:0; box-shadow:inherit;}
				.cont_gallery_list > ul > li .cont_gallery_list_box .cont_text_box{padding:8%;}
				.cont_gallery_list2 > ul > li .cont_gallery_list_box .cont_text_box{padding:8% 0;}
				.cont_gallery_list > ul > li .cont_gallery_list_box .cont_gallery_list_img{position:relative; overflow:hidden;}
					.cont_gallery_list > ul > li .cont_gallery_list_box .cont_gallery_list_img img{position:absolute; top:50%; left:50%; -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); transform:translate(-50%,-50%); transition: All 0.1s ease; -webkit-transition: All 0.1s ease; -moz-transition: All 0.1s ease; -o-transition: All 0.1s ease;}
					.cont_gallery_list > ul > li:hover .cont_gallery_list_box .cont_gallery_list_img img{-webkit-transform:translate(-50%,-50%) scale(1.1); -ms-transform:translate(-50%,-50%) scale(1.1); transform:translate(-50%,-50%) scale(1.1);}

				.cont_gallery_list_label{position:absolute; right:10px; bottom:10px; background:#000; color:#fff; padding:5px 15px; z-index:1; border-radius:100px;}
					.cont_gallery_list_label1{background:#ff5a5a;}
					.cont_gallery_list_label2{background:#007eff;}

				.cont_gallery_list .text_wrap .text{word-break:break-word;}


			.cont_gallery_list_end{position:absolute; z-index:1; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.5); text-align:center; color:#fff;}


		.cont_list_map > ul > li{position:relative; display:inline-block; padding:0 15px; font-weight:300;}
			.cont_list_map > ul > li:first-child{padding-left:0;}
			.cont_list_map > ul > li:last-child{padding-right:0;}
			.cont_list_map > ul > li:before{height:8px; width:8px; position:absolute; top:55%; right:-5px; margin:0; border:solid rgba(255,255,255,0.5); border-width:0 0 1px 1px; content:""; display:inline-block; transition:All 0.2s ease; -webkit-transition:All 0.2s ease; -moz-transition:All 0.2s ease; -o-transition:All 0.2s ease; -webkit-transform:translate(0,-50%) rotate(-135deg); -ms-transform:translate(0,-50%) rotate(-135deg); transform:translate(0,-50%) rotate(-135deg);}
			.cont_list_map > ul > li:last-child:before{display:none;}


		.cont_tab{margin-bottom:30px;}
			.cont_tab ul{display:table; width:100%; background:#f4f6f8; border-top:1px solid rgba(0,0,0,0.1);}
				.cont_tab ul li{display:table-cell; width:10%; border-right:1px solid rgba(0,0,0,0.1); border-bottom:1px solid rgba(0,0,0,0.1);}
					.cont_tab ul li:first-child{border-left:1px solid rgba(0,0,0,0.1);}
				.cont_tab ul li.check{background:#fff; border-bottom:0;}
					.cont_tab ul li a{display:block; width:100%; padding:15px 0;}


		.cont_info_wrap{background:#f4f6f8; padding:30px;}
		.cont_info_wrap2{background:#fff; border:1px solid rgba(0,0,0,0.1);}
			.cont_info{}
			.cont_info:first-child{margin-top:0;}
			.cont_info:last-child{margin-bottom:0;}
			.cont_info > ul{border:0;}
				.cont_info > ul > li{margin:10px 0; padding-left:10px; position:relative; border-top:0;}
				.cont_info2 > ul > li{margin:20px 0;}
					.cont_info > ul > li:first-child{padding-top:0; margin-top:0;}
					.cont_info > ul > li:last-child{padding-bottom:0; margin-bottom:0;}
					.cont_info > ul > li:after{content:""; position:absolute; top:0.5em; left:0; width:6px; height:1px; background:#0d5646;}

			.cont_info_num > ul{counter-reset:list-number;}
				.cont_info_num > ul > li{margin-left:1em; padding-left:1em;}
				.cont_info_num > ul > li:before{position:absolute; left:-1em; text-align:center; counter-increment:list-number; content:counters(list-number, ""); background:#666; color:#fff; width:1.5em; height:1.5em; line-height:1.5em; border-radius:4px; font-size:0.9em; font-weight:500;}
				.cont_info_num > ul > li:after{display:none;}



/* foot */
	.foot_wrap{background:#212121; color:#aaa; padding:20px 20px; font-size:0.8em;}
		.foot_wrap .foot{max-width:1280px; margin:0 auto; text-align: center;}
		.foot_logo{padding: 5px 0px;}	
		.foot_logo img{ max-width: 200px; display: flexbox;}

	.foot_wrap .foot .foot_terms{font-size:0.8em;}		
		.foot_wrap .foot .foot_terms ul li{padding: 5px; text-align: center; display: inline-block; flex-wrap: wrap;}
		.foot_wrap .foot .foot_terms li:hover{text-decoration:underline;}

	.foot_wrap .foot .foot_cont ul.copyright{font-size:0.9em;}	

	.foot_wrap .foot_cont{display: flexbox; max-width: 1280px;}

	.foot_wrap .foot_cont ul{display: flexbox; justify-content: center; align-items: center;}
		.foot_wrap .foot_cont ul li{display:inline-block; flex-wrap: wrap; padding: 5px;}


            
			
