@charset "UTF-8";
:root{
   --body-background-color: #FFFFFF;
   --font-color: #4e4e4e;
   --border-gray-color : #dadada;
   --naver-green-color: #FFEFD8;
   --naver-green-border-color: #FFEFD8;
}

*{
   margin:0;
   padding:0;
   color:var(--color-font-black);
    font-family: var(--font-family);
}

body{
    max-height: 100vh;
    min-height: 100%;
    position: relative;
}

header{
    background: var(--color-beige);
    position: fixed;
    width: 100% !important;
    top:0;
    width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #333;
}

header .head-top {
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .head-wrap .head-wrap-inner .search-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: solid 1px gray;
    border-radius: 5px;
    width:34px;
    height: 34px;
    
}
header .head-wrap .head-wrap-inner .search-btn img{
    width: 25px;
    height: 25px;
}

header .head-wrap .head-wrap-inner .btns {
    display: flex;
    align-items: center;
    justify-content: center;
}


header .head-wrap{
    border:var( --temp-border);
    height: 100px;
    width: 100%;
}

header .head-wrap .head-wrap-inner{
    height: 100px;
    width: 100%;

    border:var( --temp-border);
    text-align: center;

    background: #FFFFFF;
}
header .head-wrap .head-wrap-inner .head-logo{
    height:50px;
}
header .head-wrap .head-wrap-inner .head-menu-top-nav {
    margin-right: 20px;
}

header .head-wrap .head-wrap-inner .head-menu-top-nav ul{
    list-style: none;
}
header .head-wrap .head-wrap-sub .head-menu-main-nav {
    margin: 0 auto;
    width: 70%;
}
header .head-wrap .head-wrap-sub .head-menu-main-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .head-wrap .head-wrap-inner .head-menu-top-nav ul li{
    float: left;
    color: var( --color-font-light-black);
    font-size: 13px;
    text-align: center;
    height: 20px;
    border:var( --temp-border);

}
header .head-wrap .head-wrap-inner .head-menu-top-nav ul li a{
   text-decoration: none;
    padding: 10px;
    background: #FFFFFF;
}
header .head-wrap .head-wrap-inner .head-menu-top-nav ul li:hover a{
   text-decoration: underline;
}

header .head-wrap-sub ul a { 
    text-decoration: none;
    display: block;
    border: var(--temp-border);
    text-transform: uppercase;
    font-size: 16px;
    padding: 0px;
    height: 66px;
    width: 100%;
    background: #FFFFFF;
}

header .head-wrap-sub ul a a {
    width: 25%;
} 

header .head-wrap-sub ul {width: 100%; margin: 0 auto;} 

header .head-wrap-sub ul li { width: 20%; min-width: 130px; height: 50px; line-height: 40px; text-align: center;
background: #FFFFFF; position: relative;}

header .head-wrap-sub ul li:hover .sub{display: block;}

header .head-wrap-sub ul li:hover a{display: block;}

/*header .head-wrap-sub .ul .li a:hover{background: #FFEFD8; color: #000000;}*/

header .head-wrap-sub .head-menu-main-nav sub{display: none;}

header .head-wrap-sub .sub li {background: #FFFFFF;}
header .head-wrap-sub .sub a{font-size: 0.9em; display: none; padding-top: -10%}

header .head-wrap-sub .ul sub a:hover{background: #FFEFD8;}


header .head-wrap .head-wrap-inner .head-menu-top-nav .ul .li main-nav{
    width:60px;
}

header .head-wrap .head-wrap-inner .head-menu-top-nav .ul .li main-nav:hover{
    text-decoration: underline;
}

header .head-wrap-sub{
    height: 66px;
    border:var( --temp-border);
}
header .head-wrap-sub{
    display: flex;
    justify-content: flex-end;
    
}
header .head-wrap-sub ul{
   list-style: none;
   width: 100%;
    display: flex;
    justify-content:space-between;
    border:var( --temp-border);
   
}
header .head-wrap-sub ul li{
    text-align: center;
    flex: auto;
    
}
header .head-wrap-sub ul li a{
    text-decoration: none;
    display: block;
    border:var( --temp-border);
    text-transform: uppercase;
    font-size: 1.1em;
    padding-top: 0px;
    height: 50px;
} 
header .head-wrap-sub ul li a:hover{
    text-decoration: underline;
    background-color: #FFEFD8;
    color:var( --color-font-green);
}
body{
   background:var(--body-background-color);
}

.main-container{
   width:100%;
   /*display:flex;*/
   flex-direction:column;
   align-items:center;
}

.main-container .main-wrap .sel-lang-wrap .lang-select{
   position: relative;
   width: 96px;
   height: 30px;
   color: var(--font-color);
   border: solid 1px var(--border-gray-color);
}
.main-container .main-wrap .logo-wrap{
   padding-top:55px;
}
.main-container .main-wrap .logo-wrap img{
   width: 231px;
   height: 44px;
}

main {
    max-height: calc(100vh - 150px);
    width: 100%;
    padding-top: 30px;
}

.main-container .main-wrap header .sel-lang-wrap{
   display:flex;
   justify-content:flex-end;
}

.main-container .main-wrap header .logo-wrap{
   display:flex;   
   flex-direction: column;
   align-items: center;
}

.login-input-section-wrap{
   padding-top: 190px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 500px;
   margin: 0 auto;
}

.login-input-wrap{
   width: 465px;
   height :48px;
   border: solid 1px var(   --border-gray-color );
   background: #FFFFFF;
}
.login-input-wrap w-btn-indigo:hover {
    color: #1e6b7b;
    background: aliceblue;
}
.password-wrap{
   margin-top: 13px;
}
.login-input-wrap input{
   border: none;
   width:430px;
   margin-top: 10px;
   font-size: 14px;
   margin-left: 10px;
   height:30px;
}

.login-button-wrap input{
   margin-top: 13px;
   
   width: 465px;
   height: 48px;
   font-size: 18px;
   font-weight: bold;
   background: var(--naver-green-color);
   color: #8F6666;
   border: solid 1px var(--naver-green-border-color);
}
.login-stay-sign-in{
   width: 465px;
   height: 52px;
   
   display: flex;
   font-size: 15px;
   color: #4e4e4e;
   align-items: center;
   justify-content: space-between;
   border-bottom: solid 1px var(--border-gray-color);
}
.login-stay-sign-in i{
   font-size: 25px;
   color: #9ba1a3;
}
.login-stay-sign-in span{
   padding-left: 5px;
   line-height: 25px;

}

.Easy-sgin-in-wrap{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-bottom: 90px;
}
.Easy-sgin-in-wrap h2{
   font-size: 20px;
}
.Easy-sgin-in-wrap .sign-button-list{
   padding-top:1px;
   list-style: none;
   width: 465px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.Easy-sgin-in-wrap .sign-button-list li{
   padding-bottom: 10px;
}
.Easy-sgin-in-wrap .sign-button-list li button{
   width: 465px;
   height: 56px;
   border: solid 1px var(--border-gray-color);
   text-align: left;
   background: white;
   top: 3000px;
}
.Easy-sgin-in-wrap .sign-button-list li button {
   padding-left: 15px;
   font-size: 10px;
   left: 850px;
}

.Easy-sgin-in-wrap .sign-button-list li button span{
   padding-left: 20px;
   font-size: 18px;
}
.Easy-sgin-in-wrap .forget-msg{
   color:var(--font-color);
   font-size: 14px;
   padding-top: 10px;

}
html, body {
  margin: 0;
  padding: 0;
}

#wrap {
  width: 100%; 
  background-color: #f2f2f2;
}

section {
  padding-bottom: 60px;}
