<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<table>
    <tr>
        <th>주문번호</th>
        <th>주문자 ID</th>
        <th>주문 제품</th>
        <th>주문 날짜</th>
        <th>총 가격</th>
    </tr>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}">주문번호</td>
        <td th:text="${order.user.id}">주문자 ID</td>
        <td th:text="${order.productNames}">주문 제품</td>
        <td th:text="${#temporals.format(order.orderDate, 'yyyy-MM-dd HH:mm:ss')}">주문 날짜</td>
        <td th:text="${order.totalPrice}">총 가격</td>
    </tr>
</table>


<p>총 주문 수입: <span th:text="${totaltotalprice}"></span></p>

</body>
</html>