<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>입점접수</title>
          <link href="/css/style.css" rel="stylesheet">
          <link href="/css/all.css" rel="stylesheet">
</head>
<body>
	
<div class="cont">
			<div class="cont_box db01">
				<div class="cont_boxs">
					<div class="db">

							<div class="cont_text">
								<a href="/bbs/?bbs_category=4">
								</a>
							</div>
						</div>
						<form name="submit_form" id="submit_form" method="post">
							<input type="hidden" name="customer_category" id="customer_category" value="2">
							<input type="hidden" name="customer_tbl_area1_erp" id="customer_tbl_area1_erp" value="">
							<input type="hidden" name="customer_tbl_area2_erp" id="customer_tbl_area2_erp" value="">
							<input type="hidden" name="customer_tbl_price_erp" id="customer_tbl_price_erp" value="">
							<input type="hidden" name="customer_tbl_category_erp" id="customer_tbl_category_erp" value="">
							<input type="hidden" name="customer_tbl_store_erp" id="customer_tbl_store_erp" value="">
							<div class="cont_text_wrap">
								<div class="table_info table_info1">
									<div class="cont_text_wrap text_center">
							<div class="cont_text cont_text_title">
								<b>CAFE DREAM 입점문의</b>
							</div>
						</div>
									<table>
										<tbody>
											<tr>
												<th>
													성명 <span class="red">*<span>
												</span></span></th>
												<td>
													<div class="input_text_wrap input_wrap2">
														<label>
															<input type="text" name="customer_tbl_name" id="customer_tbl_name" onkeyup="onlyKorean(this);" maxlength="5" required="required">
															<span>성함을 입력하세요</span>
														</label>
													</div>
												</td>
											</tr>
											<tr>
												<th>
													전화번호 <span class="red">*<span>
												</span></span></th>
												<td>
													<div class="select_wrap">
														<div class="input_select_wrap input_wrap input_wrap2">
															<select name="customer_tbl_tel1" id="customer_tbl_tel1">
																<option value="010">010</option>
																<option value="011">011</option>
																<option value="016">016</option>
																<option value="017">017</option>
																<option value="018">018</option>
																<option value="019">019</option>
															</select>
														</div>
														<div class="input_text_wrap input_wrap input_wrap2">
															<label>
																<input type="tel" name="customer_tbl_tel2" id="customer_tbl_tel2" onkeydown="return onlyNumber(event)" onkeyup="removeChar(event)" maxlength="4" placeholder="" required="required">
																<span>앞자리</span>
															</label>
														</div>
														<div class="input_text_wrap input_wrap input_wrap2">
															<label>
																<input type="tel" name="customer_tbl_tel3" id="customer_tbl_tel3" onkeydown="return onlyNumber(event)" onkeyup="removeChar(event)" maxlength="4" placeholder="" required="required">
																<span>뒷자리</span>
															</label>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<th>
													이메일 <span class="red">*<span>
												</span></span></th>
												<td>
													<div class="select_wrap">
														<div class="input_text_wrap input_wrap input_wrap2">
															<label>
																<input type="text" name="customer_tbl_email1" id="customer_tbl_email1" onkeyup="removeKorean(this);" maxlength="" required="required">
																<span>이메일</span>
															</label>
														</div>
														<div class="input_text_wrap input_wrap input_wrap2 email_input">
															<label>
																<input type="text" name="customer_tbl_email2" id="customer_tbl_email2" onkeyup="removeKorean(this);" maxlength="" required="required">
																<span></span>
															</label>
														</div>
														<div class="input_select_wrap input_wrap input_wrap2 email_select">
															<select name="customer_tbl_email3" id="customer_tbl_email3">
																<option value="">직접입력</option>
																<option value="naver.com">naver.com</option>
																<option value="daum.net">daum.net</option>
																<option value="hotmail.com">hotmail.com</option>
																<option value="nate.com">nate.com</option>
																<option value="paran.com">paran.com</option>
																<option value="empas.com">empas.com</option>
																<option value="dreamwiz.com">dreamwiz.com</option>
																<option value="korea.com">korea.com</option>
																<option value="gmail.com">gmail.com</option>
															</select>
														</div>
													</div>
												</td>
											</tr>

											<tr>
												<th>
													창업 희망 지역 <span class="red">*<span>
																									</span></span></th>
												<td>
																											<div class="select_wrap select_wrap2">
																											<div class="input_select_wrap input_wrap input_wrap2">
															<select name="customer_tbl_area1" id="customer_tbl_area1">
																<option value="" selected="" disabled="">시/도</option>
																																	<option value="서울특별시" data-erp="001">서울특별시</option>
																																	<option value="부산광역시" data-erp="002">부산광역시</option>
																																	<option value="대구광역시" data-erp="003">대구광역시</option>
																																	<option value="인천광역시" data-erp="004">인천광역시</option>
																																	<option value="광주광역시" data-erp="005">광주광역시</option>
																																	<option value="대전광역시" data-erp="006">대전광역시</option>
																																	<option value="울산광역시" data-erp="007">울산광역시</option>
																																	<option value="세종특별자치시" data-erp="017">세종특별자치시</option>
																																	<option value="경기도" data-erp="009">경기도</option>
																																	<option value="강원도" data-erp="008">강원도</option>
																																	<option value="충청북도" data-erp="015">충청북도</option>
																																	<option value="충청남도" data-erp="014">충청남도</option>
																																	<option value="전라북도" data-erp="013">전라북도</option>
																																	<option value="전라남도" data-erp="012">전라남도</option>
																																	<option value="경상북도" data-erp="011">경상북도</option>
																																	<option value="경상남도" data-erp="010">경상남도</option>
																																	<option value="제주특별자치도" data-erp="016">제주특별자치도</option>
																															</select>
														</div>
														<div class="input_select_wrap input_wrap input_wrap2">
															<select name="customer_tbl_area2" id="customer_tbl_area2">
																<option value="" selected="" disabled="">시/구/군</option>
															</select>
														</div>
																											</div>
												</td>
											</tr>
																																	<tr>
												<th>
													창업 희망비용
												</th>
												<td>
													<div class="input_select_wrap input_wrap input_wrap2">
														<select name="customer_tbl_price" id="customer_tbl_price">
															<option value="1억원" data-erp="100000000">1억원</option>
															<option value="1억1천만원" data-erp="110000000">1억1천만원</option>
															<option value="1억2천만원" data-erp="120000000">1억2천만원</option>
															<option value="1억3천만원" data-erp="130000000">1억3천만원</option>
															<option value="1억4천만원" data-erp="140000000">1억4천만원</option>
															<option value="1억5천만원" data-erp="150000000" selected="">1억5천만원</option>
															<option value="1억6천만원" data-erp="160000000">1억6천만원</option>
															<option value="1억7천만원" data-erp="170000000">1억7천만원</option>
															<option value="1억8천만원" data-erp="180000000">1억8천만원</option>
															<option value="1억9천만원" data-erp="190000000">1억9천만원</option>
															<option value="2억원" data-erp="200000000">2억원</option>
															<option value="2억1천만원" data-erp="210000000">2억1천만원</option>
															<option value="2억2천만원" data-erp="220000000">2억2천만원</option>
															<option value="2억3천만원" data-erp="230000000">2억3천만원</option>
															<option value="2억4천만원" data-erp="240000000">2억4천만원</option>
															<option value="2억5천만원 이상" data-erp="250000000">2억5천만원 이상</option>
														</select>
													</div>
													<div class="input_text_info cont_text_info">
														창업 희망비용은 보증금/권리금/별도사항 등이 포함된 <br class="m">토탈금액을 뜻합니다.
													</div>
												</td>
											</tr>
																																		<tr>
												<th>
													유입경로 <span class="red">*<span>
												</span></span></th>
												<td>
													<div class="input_text_wrap input_wrap2">
														<label>
															<input type="text" name="customer_tbl_title" id="customer_tbl_title" required="required">
														</label>
													</div>
												</td>
											</tr>
											<tr>
												<th>
													기타 내용 <span class="red">*<span>
												</span></span></th>
												<td>
													<div class="cont_text">
														<div class="input_textarea_wrap">
															<label>
																<textarea name="customer_tbl_content" id="customer_tbl_content" class="count_input"></textarea>
															</label>
														</div>
														<div class="input_text_info cont_text_info input_limit_byte">
															<span class="count">0</span>/<span class="maxcount">3900</span>byte(한글 1300자, 영어 4000자)
														</div>
													</div>
												</td>
											</tr>
																																											</tbody>
									</table>
								</div>
							</div>

								<div class="cont_text">
									<div class="input_btn_wrap input_wrap2">
										<input type="button" value="등록하기" class="btn btn1 btn_ani" id="submit">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
</body>
</html>