<!DOCTYPE html>
<html lang="ko" xmlns:th="http:/www.thymeleaf.org" >
<head>
<link rel="stylesheet" href="/css/news.css">
	<title>Q&A</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="title" content="메가MGC커피">
	<meta name="Subject" content="메가커피 커피전문점, 프랜차이즈, 메가엠지씨커피, 빅사이즈 투샷, 가맹안내, 테이크아웃">
	<meta name="keywords" content="메가커피 커피전문점, 프랜차이즈, 메가엠지씨커피, 빅사이즈 투샷, 가맹안내, 테이크아웃">
	<meta name="Descript-xion" content="메가커피 커피전문점, 프랜차이즈, 메가엠지씨커피, 빅사이즈 투샷, 가맹안내, 테이크아웃">
	<meta name="Description" content="메가커피 커피전문점, 프랜차이즈, 메가엠지씨커피, 빅사이즈 투샷, 가맹안내, 테이크아웃">
	<meta name="Publisher" content="chingooplus">
	<meta name="Other Agent" content="chingooplus">
	<meta name="Distribution" content="chingooplus">
	<meta name="Copyright" content="chingooplus">
	<meta name="Author" content="chingooplus">
	<meta name="Robots" content="ALL">
	<!-- <meta name="Robots" content="noindex"> -->
	<!-- naver start -->
	<meta name="naver-site-verification" content="855dc64a4a2ca80c4cb373c1b30a054d1807804e" />
	<!-- naver end -->
	<!-- webmaster start -->
	<meta property="og:type" content="website">
	<meta property="og:title" content="메가MGC커피">
	<meta property="og:site_name" content="메가커피 커피전문점, 프랜차이즈, 메가엠지씨커피, 빅사이즈 투샷, 가맹안내, 테이크아웃">
	<meta property="og:description" content="메가커피 커피전문점, 프랜차이즈, 메가엠지씨커피, 빅사이즈 투샷, 가맹안내, 테이크아웃">
	<meta property="og:url" content="https://www.mega-mgccoffee.com/">
	<meta property="og:image" content="/thumbnail.png?ver=202307100845">
	<!-- webmaster end -->
	<!-- app start-->
	<meta property="al:ios:url" content="applinks://docs">
	<meta property="al:ios:app_store_id" content="12345">
	<meta property="al:ios:app_name" content="App Links">
	<meta property="al:android:url" content="applinks://docs">
	<meta property="al:android:app_name" content="App Links">
	<meta property="al:android:package" content="org.applinks">
	<meta property="al:web:url" content="http://applinks.org/documentation">
	
	<link rel="stylesheet" href="/css/header.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/js/header.js"></script>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	
	<!-- app end-->
	<link rel="canonical" href="https://www.mega-mgccoffee.com/">
	<link rel="icon" href="/favicon.ico?ver=202307100845" sizes="16x16">
	<link rel="icon" href="/favicon.ico?ver=202307100845" sizes="32x32">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;600;700;900&display=swap">

	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="https://img.79plus.co.kr/megahp/common/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="/common/css/simple-line-icons.min.css">
	<link rel="stylesheet" type="text/css" href="/common/css/style.css?ver=202308231505">
	<link rel="stylesheet" type="text/css" href="https://img.79plus.co.kr/megahp/common/css/animate.css">
	<link rel="stylesheet" type="text/css" href="/common/css/aos.css?ver=202307100845">

	<script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
	<script type="text/javascript" src="https://img.79plus.co.kr/megahp/common/js/bootstrap.js"></script>
	<script type="text/javascript" src="https://img.79plus.co.kr/megahp/common/js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="https://img.79plus.co.kr/megahp/common/js/jquery.bxslider.js"></script>
	<script type="text/javascript" src="/common/js/common.js?ver=202307100845"></script>

	<!-- daterangepicker -->
	<link rel="stylesheet" type="text/css" href="/common/css/daterangepicker.min.css">
	<script type="text/javascript" src="https://img.79plus.co.kr/megahp/common/js/angular.min.js"></script>
	<script type="text/javascript" src="https://img.79plus.co.kr/megahp/common/js/angular-messages.min.js"></script>
	<script type="text/javascript" src="https://img.79plus.co.kr/megahp/common/js/moment.min.js"></script>
	<script type="text/javascript" src="/common/js/daterangepicker.min.js?ver=202307100845"></script>
	<script type="text/javascript" src="/common/js/angular-daterangepicker.min.js"></script>
	<!-- datemdpicker -->
	<link rel="stylesheet" type="text/css" href="/common/css/mdtimepicker.css?ver=202307100845">
	<script type="text/javascript" src="/common/js/mdtimepicker.js?ver=202307100845"></script>

	<!-- fullPage -->
	<script type="text/javascript" src="https://img.79plus.co.kr/megahp/common/js/jquery.fullPage.js"></script>

	<!-- swiper -->
	<link rel="stylesheet" type="text/css" href="/common/css/swiper.min.css?ver=202307100845">
	<script type="text/javascript" src="https://img.79plus.co.kr/megahp/common/js/swiper.min.js"></script>

	<script>
		$(document).ready(function(){
			$(".datepickertime_wrap input").mdtimepicker();
			$(".detail_flex_slider_wrap").flexslider({
				animation: "slide",
				controlNav: "thumbnails",
				start: function(){
					$(".detail_flex_slider_wrap img").css("visibility","visible");
				},
			});
		//head_down_menu start
			$(".head_wrap .head .head_menu > ul > li").hover(function() {
				if ( $(".head_menu_wrap").is(".right0") == false ) {
					$(".head_wrap .head .head_menu > ul > li").removeClass("check");
					$(this).addClass("check");
					$(".head_menu_down_menu").stop().slideDown("fast");
				};
			}, function() {
					$(".head_wrap .head .head_menu > ul > li").removeClass("check");
			});

			$(".head_wrap").hover(function() {
				$(this).addClass("head_over");
			}, function() {
				if ( $(".head_menu_wrap").is(".right0") == false ) {
					$(this).removeClass("head_over");
					$(".head_wrap .head .head_menu > ul > li").removeClass("check");
					$(".head_menu_down_menu").stop().slideUp("fast");
				}
			});
		//head_down_menu end
		//mobile start
			$(".mobile_menu_icon").click(function(){
				$(".head_wrap").addClass("head_over");
				$(this).toggleClass("mobile_menu_icon_open");
				if ( $(this).is(".mobile_menu_icon_open") ) {
					$(".head_menu_wrap").addClass("right0");
				} else {
					$(".head_menu_wrap").removeClass("right0");
				}
			});
			$(".head_menu_down").click(function(){
				$(this).toggleClass("head_menu_down_open");
				if ( $(this).is(".head_menu_down_open") ) {
					$(this).next(".head_menu_down_menu").find("ul").slideDown("fast");
				} else {
					$(this).next(".head_menu_down_menu").find("ul").slideUp("fast");
				}
			});
		//mobile end
			cont_gallery_list_img();
			$(window).resize(function() {
				$(".head_menu_down_menu > ul").css("display","block");
				if ( $(window).width() < 760 ) {
					$(".head_menu_down_menu > ul").css("display","none");
				};
				$(".head_menu_down").removeClass("head_menu_down_open");
				if ( $(window).width() >= 1280 ) {
					$(".head_wrap").removeClass("head_over");
					$(".head_menu_wrap").removeClass("right0");
					$(".mobile_menu_icon").removeClass("mobile_menu_icon_open");
				};
				cont_gallery_list_img();
			});
		});
		$(window).scroll( function() {
			if ( $(document).scrollTop() > $(".cont_wrap").offset() .top ) {
				$(".head_wrap").addClass("head_fixed");
			} else{
				$(".head_wrap").removeClass("head_fixed");
			}
		});
		function cont_gallery_list_img(){
			$(".cont_gallery_list > ul > li").each(function() {
				if ( $(this).find(".cont_gallery_list_img").length ) {
					$(this).find(".cont_gallery_list_img").css("width", $(this).width() );
				};

				if ( $(this).find(".cont_gallery_list_img_height").length ) {
					$(this).find(".cont_gallery_list_img_height").css("height", $(this).width() );
				} else {
					$(this).find(".cont_gallery_list_img").css("height", $(this).width() );
				};
			});
		};

		function login(){
			location.href = "/login/?ReturnPage=" + window.location.pathname;
		};
		function logout(){
			location.href = "/login/logout.php?ReturnPage=" + window.location.pathname;
		};
	</script>
</head>
<body>
		<div class="overlay none"></div>
	<div class="modal">
		<div class="modal-dialog">
			<div class="modal-content"></div>
		</div>
	</div>
	<div class="wrap">
		<div class="head_wrap">
			<div class="head">
				<div class="head_logo">
					<a href="/">
						<img src="/image/logo.png" class="head_logo_img_fixed">
					</a>
				</div>

				<div class="icon_basket">
					<a href="#">
						<img src="/image/basket.png" class="icon_basket_img_fixed">
					</a>
				</div>

				<div class="head_top_nav">
					<nav class="head-menu-top-nav">
						<ul>
							<li class="top-nav01"><a href="/test/login">Sign In</a></li>
							<li class="top-nav02"><a href="/register">Join Now</a></li>
							<li class="top-nav03"><a href="#">My Page</a></li>
						</ul>
					</nav>
				</div>

				<div class="head_menu_wrap">
					<div class="head_menu">
						<ul>
							<li>
								<a href="/brand" class="pc">ABOUT US</a>
								<a class="m head_menu_down">ABOUT US</a>
								<div class="head_menu_down_menu cont_list cont_list1 cont_list_small cont_list_small1">
									<ul>
										<li>
											<a href="/brand">브랜드</a>
										</li>
									</ul>
								</div>
							</li>

							<li>
								<a href="/menu" class="pc">MENU</a>
								<a class="m head_menu_down">MENU</a>
								<div class="head_menu_down_menu cont_list cont_list1 cont_list_small cont_list_small1">
									<ul>
										<li>
											<a href="/menu">음료</a><br>
										</li>
										<li>
											<a href="/menu">푸드</a><br>
										</li>
									</ul>
								</div>
							</li>

							<li>
								<a href="/store" class="pc">STORE</a>
								<a class="m head_menu_down">STORE</a>
								<div class="head_menu_down_menu cont_list cont_list1 cont_list_small cont_list_small1">
									<ul>
										<li>
											<a href="/store">매장찾기</a>
										</li>
									</ul>
								</div>
							</li>

							<li>
								<a href="/partnership" class="pc">PARTNERSHIP</a>
								<a class="m head_menu_down">PARTNERSHIP	</a>
								<div class="head_menu_down_menu cont_list cont_list1 cont_list_small cont_list_small1">
									<ul>
										<li>
											<a href="/partnership">입점문의</a>
										</li>
									</ul>
								</div>
							</li>

							<li>
								<a href="/board/QnA" class="pc">NEWS</a>
								<a class="m head_menu_down">NEWS</a>
								<div class="head_menu_down_menu cont_list cont_list1 cont_list_small cont_list_small1">
									<ul>
										<li>
											<a href="/board/QnA">공지사항</a><br>
										</li>
										<li>
											<a href="/board/QnA">Q&A</a><br>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>	
	</div>	
				<div class="mobile_menu_icon_wrap m t">
					<div class="mobile_menu_icon">
						<div class="mobile_menu_icon_bar bar_black"></div>
					</div>
				</div>
	<div class="cont_wrap menu_wrap">
		<div class="cont">
			<div class="cont_box cont_head">
				<div class="cont_boxs">
					<div class="cont_title_wrap">
					<div class="cont_title_info">CAFE DREAM NEWS</div>
						<div class="cont_title robo color">
							<h2>NEWS</h2>
						</div>
					</div>
					<div class="cont_text_wrap">
						<div class="cont_text cont_list_map">
							<ul>
								<li>
									HOME
								</li>
								<li>
									NEWS
								</li>
								<li>
									Q&A								
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="cont_box brand01">
				<div class="cont_boxs text_center">
					<div class="cont_title_wrap">
								<div class="cont_title">
									<b>CAFE DREAM Q&A</b>
								</div>
					</div>

					<div class="cont_text_wrap">
						<div class="cont_list cont_list_content cont_list_content_search">
							<ul>
								<li>
									<div class="board_search_wrap">
										<div class="board_search">
											<form>
<!--												<input type="hidden" name="search" id="bbs_category" th:value="${search}">-->
<!--												<input type="hidden" name="search_category" id="bbs_detail_category" th:value="${searchCategory}">-->
												<ul>
													<li class="board_search_select">
														<div class="input_select_wrap input_wrap2">
															<select name="search_category" id="bbs_search_category">
																<option value="title">제목</option>
																<option value="content">내용</option>
																<option value="name">작성자</option>
															</select>
														</div>
													</li>
													<li>
														<div class="input_text_wrap input_wrap2">
															<label>
																<input type="text" name="search" id="bbs_search" class="" value="" placeholder="검색어를 입력하세요" required="required">
															</label>
														</div>
													</li>
													<li class="board_search_btn">
														<div class="input_btn_wrap input_wrap2">
															<input type="submit" value="검색" class="btn btn1" id="">
														</div>
													</li>
												</ul>
											</form>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
							<div class="cont_text_wrap">
								<div class="cont_text">
									 <!-- style366 = text-align: right; -->
								</div>
							</div>
					<div class="cont_text_wrap">
						<div class="board_list">
									<table>
										<colgroup>
											<col class="board_w75 board_pc">
											<col>
											<col class="board_w150 board_pc">
											<col class="board_w100">
											<col class="board_w100 board_pc">
										</colgroup>
										<thead>
											<tr>
												<th class="board_pc">
													번호
												</th>
												<th>
													제목
												</th>
												<th class="board_pc">
													글쓴이
												</th>
												<th>
													날짜
												</th>
												<th class="board_pc">
													조회
												</th>

											</tr>
										</thead>
										<tbody>

										<tr>
													<td class="board_pc">공지</td>
													<td>
														<div class="text_wrap">
															<div class="text">
																<a href="http://localhost:8080/CafeWeb/%EC%9E%85%EC%A0%90%EB%AC%B8%EC%9D%98/%EC%9E%85%EC%A0%90%EC%A0%91%EC%88%98.html#">
																	<em>
																		CAFE DREAM 입점접수																	</em>
																</a>
															</div>
														</div>
													</td>
													<td class="board_pc"> CAFE DREAM</td>
													<td>2023-08-30</td>
													<td class="board_pc">457</td>

										</tr>
										<tr th:each="board: ${boardList}">

											<td class="board_pc" th:text="${board.id}" ></td>
											<td>

												<div class="text_wrap">
													<div class="text">								<!--공지사항은 board.noticeTitle 이런식으로 해줘야함 뒤에 ㅇㅇ -->
														<a th:href="@{|/board/QnA/${board.id}|(page=${boardList.number + 1})}" th:text="${board.boardTitle}"></a>

													</div>
												</div>
											</td>

											<td class="board_pc"  th:text="${board.boardWriter}" ></td>
											<td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
											<td class="board_pc" th:text="${board.boardHits}" ></td>
										</tr>


										</tbody>
									</table>
						</div>
						<div class="board_page_wrap">
							<div class="board_page">
								<ul>
									<li class="fo_re">
										<a th:href="@{/board/QnA(page=1)}">
											<span>처음</span>
										</a>
									</li>

									<li class="board_page_check">
											<span th:each="page: ${#numbers.sequence(startPage, endPage)}">
										<!-- 현재페이지는 링크 없이 숫자만 -->
												<!--												<span><a th:href="@{/board/QnA(page=${page})}" th:text="${page}"></a></span>-->
												<span><a th:href="@{|/board/QnA?search_category=${searchCategory}&search=${search}&page=${page}|}"th:text="${page}"></a></span>
											</span>
									</li>

									<li>
										<a th:href="@{/board/QnA(page=${boardList.totalPages})}">
											<span>마지막</span>
										</a>
									</li>


							<div class="cont_text">
								<div class="input_width">
									<div class="input_btn_wrap input_wrap3">
									<a href="/board/QnA/write">
										<input type="button" value="글쓰기" class="btn btn1 btn_ani" id=""> <!-- style807 = height: 80%; 추가 -->
									</a>
									</div>
								</div>
							</div>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
				<div class="foot_menu_wrap">
			<div class="foot_menu">
				<div class="cont_list">
					<ul>
						<li>
							<a class="modal_open modal_open_policy1">
								<b>이용약관</b>
							</a>
						</li>
						<li>
							<a class="modal_open modal_open_policy2">
								<b>개인정보취급방침</b>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="foot_wrap">
			<div class="foot">
				<div class="cont_list cont_list_content">
					<ul>
						<li>
							<div class="cont_text">
								<div class="cont_list cont_list_m cont_list_m1">
									<ul>
										<li>
											<div class="foot_logo">
												<img src="/image/logo.png">
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="cont_text foot_info">
								<div class="cont_list cont_list_small cont_list_width_m">
									<ul>
										<li><b>(주)주식회사 부천대학교</b></li>
										<li>대표자 박찬호</li>
										<li>TEL : 032-610-3260</li>
										<li>경기도 부천시 심곡동 신흥로56번길 25</li>
										<li>개인정보보호 관리책임자 김영서</li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<a href="javascript:go_top()">
		<div class="go_top_wrap">
			<div class="go_top">
			</div>
		</div>
	</a>
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
			</div>
			<div class="swiper-slide">
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/common/js/daterangepicker_common.js"></script>
	<script type="text/javascript" src="https://img.79plus.co.kr/megahp/common/js/aos.js"></script>
	<script>
		$(".modal").on("hidden.bs.modal", function (e) {
			$(".modal-content").empty();
		});
		AOS.init({
		  duration: 1200,
		});
		$(document).ready(function(){
			var swiper_foot = new Swiper(".swiper_foot", {
				slidesPerView: "auto",
				spaceBetween: 50,
				loop: true,
				autoplay: {
				  delay: 0,
				},
				speed: 5000,
				navigation: {
					nextEl: ".swiper-button-next",
					prevEl: ".swiper-button-prev",
				},
				on: {
					slideChange: function () {
					},
					activeIndexChange: function () {
					}
				},
				breakpoints: {
				}
			});
		});
	</script>
</body>
</html>
