<!DOCTYPE html>
<html lang="ko" xmlns:th="http:/www.thymeleaf.org" >
    <head>
        <meta charset="UTF-8">
        <title>회원가입 폼</title>
        <link rel="stylesheet" href="/css/register.css">
        
    </head>
    <body>
        <!-- header -->
        <div id="header">
            <a href="/" target="_blank" title="회원가입 페이지 보러가기"><img src="/image/logo.png" id="logo"></a>
        </div>


        <!-- wrapper -->
        <div id="wrapper">

            <!-- content-->
            <div id="content">
                <form action="/signup" method="post">
                <!-- ID -->
                <div>
                    <h3 class="join_title">
                        <label for="id">아이디</label>
                    </h3>
                    <span class="box int_id">
                        <input type="text" id="id" name="username" class="int" maxlength="20">
                    </span>
                    <span class="error_next_box"></span>
                </div>

                <!-- PW1 -->
                <div>
                    <h3 class="join_title"><label for="pswd1">비밀번호</label></h3>
                    <span class="box int_pass">
                        <input type="text" id="pswd1" name="password" class="int" maxlength="20">
                        <span id="alertTxt">사용불가</span>
                        <img src="/image/m_icon_pass.png" id="pswd1_img1" class="pswdImg">
                    </span>
                    <span class="error_next_box"></span>
                </div>

                <!-- PW2 -->
                <div>
                    <h3 class="join_title"><label for="pswd2">비밀번호 재확인</label></h3>
                    <span class="box int_pass_check">
                        <input type="text" id="pswd2" class="int" maxlength="20">
                        <img src="/image/m_icon_check_disable.png" id="pswd2_img1" class="pswdImg">
                    </span>
                    <span class="error_next_box"></span>
                </div>

                    <!-- EMAIL -->
                    <div>
                        <h3 class="join_title"><label for="email">본인확인 이메일<span class="optional">(선택)</span></label></h3>
                        <span class="box int_email">
                        <input type="text" id="email" name="email" class="int" maxlength="100" placeholder="선택입력">
                    </span>
                        <span class="error_next_box">이메일 주소를 다시 확인해주세요.</span>
                    </div>

                <!-- NAME -->
                <div>
                    <h3 class="join_title"><label for="name">이름</label></h3>
                    <span class="box int_name">
                        <input type="text" id="name" name="name" class="int" maxlength="20">
                    </span>
                    <span class="error_next_box"></span>
                </div>


                <!-- GENDER -->
<!--                    <div class="field gender">-->
<!--                        <h3>성별</h3>-->
<!--                        <div>-->
<!--                            <label><input type="radio" th:field="*{gender}" th:value="남자">남자</label>-->
<!--                            <label><input type="radio" th:field="*{gender}" th:value="여자">여자</label>-->
<!--                            <label><input type="radio" th:field="*{gender}" th:value="선택안함">선택안함</label>-->
<!--                        </div>-->
<!--                        <span class="error_next_box">필수 정보입니다.</span>-->
<!--                    </div>-->

                <div class="field gender">
            		<h3>성별</h3>
            			<div>
                			<label><input type="radio" name="gender" value="남자">남자</label>
                			<label><input type="radio" name="gender" value="여자">여자</label>
                			<label><input type="radio" name="gender" value="선택안함">선택안함</label>
            			</div>
                    <span class="error_next_box">필수 정보입니다.</span>
                </div>



                <!-- MOBILE -->
                <div>
                    <h3 class="join_title"><label for="mobile">휴대전화</label></h3>
                    <span class="box int_mobile">
                        <input type="tel" id="mobile" name="phone" class="int" maxlength="16" placeholder="전화번호 입력">
                    </span>
                    <span class="error_next_box"></span>
                </div>


                <!-- JOIN BTN-->
                <div class="btn_area">
                    <button type="submit" id="btnJoin">
                        <span>가입하기</span>
                    </button>
                </div>
                </form>
           
				<div class="member-footer">
            		<div>
                		<a href="#none">이용약관</a>
                		<a href="#none">개인정보처리방침</a>
            		</div>
            		<br><span><a>Dreamcafe Corp.</a></span></br>
        		</div>
        	</div> 
            
           	<!-- content-->
        </div> 
        <!-- wrapper -->
    <script src="/js/main.js"></script>
    </body>
</html>